<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BookshelfAPI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BookshelfAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CouchDBSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
